@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:host {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

app-tweet {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex-grow: 0;
  flex-shrink: 0;

  padding: 1rem;

  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.7rem;
}

.explanation {
  text-align: right;

  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 640px) {
    display: initial;
  }
}

.github {
  vertical-align: middle;
  width: 20px;
}
