<app-tweet [tweet]="tweets[currentTweetIndex]" *ngIf="!loading"></app-tweet>

<footer>
  <div>
    <input
      type="range"
      min="0"
      step="1"
      [max]="tweets.length - 1"
      [(ngModel)]="currentTweetIndex"
      >

    <input
      type="range"
      min="0"
      max="0.99"
      step="0.01"
      [ngModel]="speed"
      (ngModelChange)="handleSpeedChange($event)"
      >
  </div>

  <span class="explanation">
    <span>
      Louder tweets = oranger face.
    </span>
    <span>
      By <a href="https://twitter.com/jessepinho" target="_blank">@jessepinho</a>.  {{version}}

      <a
        href="https://github.com/jessepinho/trumpymctweetface.com"
        target="_blank"
        >
        <img src="/assets/github.svg" alt="GitHub" class="github">
      </a>
    </span>
  </span>
</footer>
