.face,
.text {
  box-sizing: border-box;
  padding: 1rem;
  width: 50%;
}

.text {
  color: black;
  font-size: 3rem;
  line-height: 1.5em;
  text-decoration: none;
}

.wrapper {
  display: flex;
  height: 100%;
}
