@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

\:host
  display: flex
  flex-direction: column

  height: 100%
  width: 100%

  overflow: hidden

app-face
  display: block
  height: 100%
  width: 100%

.face
  box-sizing: border-box
  display: flex
  height: 100%
  padding: 1rem
  width: 100%

  @media only screen and (min-width: 640px)
    align-items: center
    max-height: none
    padding: 0
    transform: scale(1.25) translate(-10%, 2%)
    width: 50%

  @media only screen and (max-aspect-ratio: 4/3)
    height: initial

footer
  display: flex
  flex-direction: column
  align-items: flex-end

  flex-grow: 0
  flex-shrink: 0

  padding: 1rem

  font-family: 'Roboto Mono', sans-serif
  font-size: 0.7rem

.explanation
  text-align: right

  display: flex
  flex-direction: column

  @media only screen and (min-width: 640px)
    display: initial

.github
  vertical-align: middle
  width: 20px

.text
  box-sizing: border-box
  color: black
  font-size: 1.5rem
  font-family: 'Gloria Hallelujah', sans-serif;
  line-height: 1.5em
  padding: 1rem
  text-decoration: none
  width: 100%

  @media only screen and (min-width: 640px)
    font-size: 2rem
    max-height: 100%
    overflow: hidden
    width: 50%

  @media only screen and (min-width: 1024px)
    font-size: 3rem

.wrapper
  align-items: center
  display: flex
  flex-direction: column
  flex-grow: 1
  height: 100%
  width: 100%

  @media only screen and (min-width: 640px)
    flex-direction: row
