.face,
.text {
  box-sizing: border-box;
  padding: 1rem;
  width: 50%;
}

.text {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 3rem;
  line-height: 1.5em;
}

.wrapper {
  display: flex;
  height: 100%;
}
